





<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      {{form1.as_p}}
      {{form2.as_p}}
      {{form3.as_p}}
      {{form4.as_p}}
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>























































<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<link href="hide-show-fields-form.css" rel="stylesheet"/>

<center><h1>Sign Up </h1></center>
<form class="p-3">
  <div class="form-group">
    <label for="name">Email id</label>
    <input type="text" class="form-control" id="name" placeholder="JoeSmith@gmail.com">
  </div>
  <div class="form-group">
    <label for="name">Phone No</label>
    <input type="text" class="form-control" id="Phone" placeholder="8571909384">
  </div>
  <div class="form-group">
    <label for="seeAnotherField">Do You Want To See Another Field?</label>
    <select class="form-control" id="seeAnotherField">
          <option value=".....">..............</option>
          <option value="c">Coaching Center</option>
          <option value="t">Tutor</option>
          <option value="s">Student</option>
    </select>
  </div>
  <div class="form-group" id="instituteFieldDiv">
    <div class="form-group">
    <label for="name">Institude Name</label>
    <input type="text" class="form-control" id="institude_name" placeholder="Joe Smith Institute">
  </div>
  </div>
 <div class="form-group" id="teacherFieldDiv">
    <div class="form-group">
    <label for="name">First Name</label>
    <input type="text" class="form-control" id="fname" placeholder="Joe">
  </div>
  <div class="form-group">
    <label for="name">Last Name</label>
    <input type="text" class="form-control" id="lname" placeholder="Smith">
  </div>
  <div class="form-group">
    <label for="name">Distance</label>
    <input type="text" class="form-control" id="distance" placeholder="25 km">
  </div>
  </div>
  <div class="form-group" id="studentFieldDiv">
   <div class="form-group">
    <label for="name">School Name</label>
    <input type="text" class="form-control" id="sname" placeholder="aggarwal public School">
  </div>
  </div>

  <div class="form-group">
    <label for="name">Pincode</label>
    <input type="text" class="form-control" id="picode" placeholder="121004">
  </div>
  <div class="form-group">
    <label for="name">Password</label>
    <input type="text" class="form-control" id="password" placeholder="*******">
  </div>
  <div class="form-group">
    <label for="name">Password Conformation</label>
    <input type="text" class="form-control" id="conformpass" placeholder="********">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="hide-show-fields-form.js"></script> -->
